@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.faq_heading {
  font-family: 'Playfair Display', sans-serif;
}

.user_center:hover div {
  background-color: #22c55e;
}